section.repository-list {
    margin: 2.5rem;

   .text-center {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2.875rem;
      margin-left: 0.5rem;
    }
   }

    h2 {
      margin-bottom: 1rem;
      text-decoration: underline;
    }

    ul {
        list-style: none;

        li {
            background: var(--gray);
            padding: 1.5rem 1.25rem;

            border-radius: 1rem;

            & + li {
                margin-top: 1.25rem;
            }

            strong {
              font-size: 1.25rem;
              font-weight: bold;
            }

            p {
                font-size: 0.875rem; 
                color: var(--black);
                margin-top: 0.5rem;
            }

            a {
                display: inline-block;
                margin-top: 1rem;
                text-decoration: none;
                color: var(--blue);

                transition: filter 0.5s ease;

                &:hover {
                  filter: brightness(0.9);
                  text-decoration: underline;
                }
            }
        }
    }
}
